
.container{
    width: 100%;
    justify-content: center;
}

.img-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.item-movie { margin : 10 px ;
                padding: 10px; 
                display: grid;
                background: #eeeeee;
                font-size: 0.8em;
                border-bottom: 2px solid #cccc;
            }
